.app-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-color: $color_primary;
  color: $color_header_text;
  font-weight: bold;
  @include box-shadow();
  &__title {
    // padding: 20px;
    font-size: 20px;
  }
}

// List
.menu-list {
  display: flex;
  height: 60px;
  &__item {
    display: flex;
    a,
    button {
      align-items: center;
      display: flex;
      padding: 0 10px;
      position: relative;
      &::after {
        transition: opacity 0.2s;
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 5px;
        display: block;
        background: $color_header_text;
        opacity: 0;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__login {
    display: flex;
    align-items: center;
  }
}

.users-list {
  &__item {
    margin-bottom: 30px;
  }
}

.record-list {
  &__item {
    margin-bottom: 30px;
  }
}

.tab {
  &__list {
    border-bottom: 1px solid $color_gray_1;
    margin-bottom: 30px;
  }
  %tab__list-item {
    display: inline-block;
    padding: 10px 20px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    &::after {
      transition: opacity 0.2s;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      display: block;
      background: $color_primary_light;
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  &__list-item {
    @extend %tab__list-item;
    &--active {
      @extend %tab__list-item;
      &::after {
        background: $color_primary !important;
        opacity: 1 !important;
      }
    }
  }
  &__body {
    padding: 0 60px;
  }
}

.tag-list {
  display: flex;
  &__item {
    margin-right: 10px;
  }
}

.tag {
  position: relative;
  padding-left: 20px;
  &__body {
    position: relative;
    padding: 3px 10px;
    background: $color_info;
    z-index: 1;
  }
  &::after {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    left: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: $color_info;
    transform: rotate(45deg);
    z-index: 0;
  }
}

.search {
  margin-bottom: 40px;
  text-align: center;
  &__input {
    width: 500px;
    height: 40px;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    border: 1px solid $color_gray_1;
  }
}

%like-counter {
  span {
    pointer-events: none;
  }
}

.like-counter {
  @extend %like-counter;
  &--liked {
    @extend %like-counter;
    i {
      color: $color_liked;
    }
  }
}

.counter {
  display: inline-block;
  width: 30px;
  padding-right: 5px;
  text-align: center;
}

.profile {
  margin-bottom: 30px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
  }
  &__registered {
    margin-bottom: 10px;
  }
  &__bio {
    margin-bottom: 10px;
  }
  &__footer-item {
    display: inline-block;
    margin-right: 10px;
  }
}

// Card

.card-user {
  display: flex;
  // border-bottom: 1px solid $color_gray_1;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s;
  &--enable-link {
    cursor: pointer;
    &:hover {
      background: $color_accent_light;
    }
  }
  &__profile {
    flex: auto;
    display: flex;
  }
  &__profile-head {
    display: flex;
    align-items: center;
  }
  &__profile-body {
    padding: 0 15px;
  }
  &__profile-name {
    font-size: 18px;
    font-weight: bold;
  }
  &__follow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
  }
  &__tail {
    min-width: 150px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
  }
  &__tail-date {
    width: 100%;
  }
  &__tail-button {
    width: 100%;
    align-self: flex-end;
  }
}

.card-record {
  display: flex;
  padding: 30px;
  border-bottom: 1px solid $color_gray_1;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s;
  &--enable-link {
    cursor: pointer;
    &:hover {
      background: $color_accent_light;
    }
  }
  &__img {
    min-width: 120px;
  }
  &__body {
    flex: auto;
  }
}

.record {
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__title-name {
    font-size: 18px;
    font-weight: bold;
  }
  &__comment {
    margin-bottom: 20px;
  }
  &__list {
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__social {
    font-size: 20px;
    display: flex;
  }
}

.material-list {
  dt {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
    i {
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  dd {
    display: inline-block;
  }
}

.modal {
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
  }
}

.ReactModal__Content {
  padding: 40px !important;
  background: $color_light_shade !important;
}

.ReactModal__Overlay {
  z-index: $layer_modal;
}

.caution {
  color: $color_danger;
}

.font-sm {
  font-size: 75%;
}
