.app-header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  background-color: $color_primary;
  color: $color_header_text;
  font-weight: bold;
  @include box-shadow();
  &__title {
    // padding: 20px;
    font-size: 20px;
  }
}

// List
%menu-list__item {
  display: flex;
  a,
  button {
    align-items: center;
    display: flex;
    padding: 0 10px;
    position: relative;
    &::after {
      transition: opacity 0.2s;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      display: block;
      background: $color_header_text;
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 0.7;
      }
    }
  }
}
.menu-list {
  display: flex;
  height: 60px;
  &__item {
    @extend %menu-list__item;
    &--active {
      @extend %menu-list__item;
      a,
      button {
        &::after {
          opacity: 1;
        }
      }
    }
  }
  &__login {
    display: flex;
    align-items: center;
  }
}

.users-list {
  // NOTE:アプリの開始時に、無限スクロール用関数が実行されないように
  min-height: 1000px;
  &__item {
    margin-bottom: 30px;
  }
}

.record-list {
  // NOTE:アプリの開始時に、無限スクロール用関数が実行されないように
  min-height: 1200px;
  &__item {
    margin-bottom: 30px;
  }
}

.tab {
  &__list {
    @extend %cf;
    border-bottom: 1px solid $color_gray_1;
    margin-bottom: 30px;
  }
  %tab__list-item {
    display: inline-block;
    padding: 8px 20px;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #555;
    &::after {
      transition: opacity 0.2s;
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      display: block;
      background: $color_primary_light;
      opacity: 0;
    }
    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
  &__list-search {
    float: right;
  }
  &__list-item {
    @extend %tab__list-item;
    &--active {
      @extend %tab__list-item;
      &::after {
        background: $color_primary !important;
        opacity: 1 !important;
      }
    }
  }
  &__body {
    padding: 0 60px 60px;
  }
}

.material-list {
  &__item {
    display: inline-block;
    margin-bottom: 3.5%;
    width: 31%;
    &:not(:nth-child(3n)) {
      margin-right: 3.5%;
    }
  }
}

.tag-list {
  display: flex;
  &__item {
    margin-right: 10px;
  }
}

.tag {
  position: relative;
  padding: 3px 10px;
  color: $color_white;
  background: $color_sub_light;
  z-index: 1;
  border: 1px solid;
  border-radius: 5px;
  transition-duration: 0.3s;
  transition-property: color background;
  &:hover {
    color: $color_sub_light;
    background: $color_white;
    border-style: dotted;
  }
}

.search {
  text-align: center;
  &__input {
    width: 400px;
    height: 43px;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    background: #e8e8e8;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px #e8e8e8 inset;
    }
  }
}

%like-counter {
  span {
    pointer-events: none;
  }
}

.like-counter {
  @extend %like-counter;
  &--liked {
    @extend %like-counter;
    i {
      color: $color_liked;
    }
  }
}

.counter {
  display: inline-block;
  width: 30px;
  padding-right: 5px;
  text-align: center;
}

.profile {
  margin-bottom: 30px;
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__name {
    font-size: 18px;
    font-weight: bold;
  }
  &__registered {
    margin-bottom: 10px;
  }
  &__bio {
    margin-bottom: 10px;
  }
  &__footer-item {
    display: inline-block;
    margin-right: 10px;
  }
}

.table-report {
  margin: 0 auto 30px;
  text-align: center;
  font-size: 22px;
  border-collapse: separate;
  overflow: hidden;
  th,
  td {
    padding: 10px 30px;
    // border: 1px solid $color_gray_1;
  }
  th {
    background: lighten($color_accent, 5%);
    color: $color_white;
    font-weight: bold;
    &:first-child {
      border-top-left-radius: 5px;
    }
    &:last-child {
      border-top-right-radius: 5px;
      border-right: none;
    }
  }
  td {
    background: $color_gray_0;
  }
}

// Card

@keyframes test {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card-user {
  display: flex;
  // border-bottom: 1px solid $color_gray_1;
  padding: 15px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2),
    0 2px 6px 0 rgba(0, 0, 0, 0.12);
  transition: border 0.3s;
  background: $color_white;
  border: 2px solid $color_white;
  border-radius: 5px;
  &--enable-link {
    cursor: pointer;
    &:hover {
      border: 2px solid $color_primary_light;
    }
  }
  &__profile {
    flex: auto;
    display: flex;
  }
  &__profile-head {
    display: flex;
    align-items: center;
  }
  &__profile-body {
    padding: 0 15px;
  }
  &__profile-name {
    font-size: 18px;
    font-weight: bold;
  }
  &__follow {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
  }
  &__tail {
    min-width: 150px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
  }
  &__tail-date {
    width: 100%;
  }
  &__tail-button {
    width: 100%;
    align-self: flex-end;
  }
}

.card-record {
  display: flex;
  padding: 20px 30px;
  border-bottom: 1px solid $color_gray_1;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2),
    0 2px 6px 0 rgba(0, 0, 0, 0.12);
  transition: background 0.3s;
  background: $color_white;
  border-radius: 5px;
  border: 2px solid $color_white;
  transition: border-color 0.3s;
  &--enable-link {
    cursor: pointer;
    &:hover {
      border-color: $color_primary_light;
    }
  }
  &__img {
    min-width: 110px;
  }
  &__body {
    flex: auto;
  }
}

.card-material {
  padding: 20px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 4px 2px -2px rgba(0, 0, 0, 0.2),
    0 2px 6px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  border-radius: 5px;
  background: $color_white;
  &:hover {
    background: lighten($color_info, 5%);
  }
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &__foot {
    display: flex;
    justify-content: space-between;
  }
  &__dropdown {
    position: relative;
    .react-slidedown {
      background: $color_gray_0;
    }
  }
  &__dropdown-button {
    color: $color_text;
    display: block;
    padding: 5px;
    width: 100px;
    &:hover {
      background: darken($color_gray_0, 10);
    }
  }
  &__hidden {
    opacity: 0;
    height: 0;
    width: 0;
  }
  &__ellipsis {
    padding: 3px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: $color_gray_2;
    &:hover {
      background: $color_gray_1;
    }
  }
}

.record {
  &__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &__username {
    font-size: 18px;
    font-weight: bold;
  }
  &__date {
    color: $color_gray_3;
  }
  &__comment {
    margin-bottom: 15px;
    @include round-block(lighten($color_info, 5%));
  }
  &__material {
    margin-bottom: 15px;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__social {
    font-size: 20px;
    display: flex;
  }
}

.material {
  display: flex;
  @include round-border-block($color_gray_1);
  &__img {
    width: 100px;
  }
  &__text {
    margin-left: 20px;
  }
  &__title {
    margin-bottom: 5px;
    font-size: 20px;
  }
  &__hours {
    font-size: 20px;
    i {
      color: $color_warning;
      vertical-align: middle;
      margin-right: 5px;
      transform: translateY(-2px);
    }
  }
}

.modal {
  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
  }
}

.not-found {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: darken($color_info, 15%);
}

// react-modalのオーバーライド

.ReactModal__Content {
  padding: 40px !important;
  background: $color_light_shade !important;
}

.ReactModal__Overlay {
  z-index: $layer_modal;
}

// recharts.js

.custom-tooltip {
  background: $color_info;
  padding: 5px;
  border: 1px solid;
}

.recharts-legend-wrapper {
  &.report {
    padding: 20px;
    background: $color_gray_0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    margin-right: 30px;
  }
}

// react-slidedown {
.react-slidedown.my-dropdown-slidedown {
  transition-duration: 0s;
  border-radius: 5px;
}
