// Button

%button-cmn-1 {
  border-radius: 20px;
  padding: 2px 15px;
  border: 1px solid;
}

.button-login {
  @extend %button-cmn-1;
  background: $color_header_text;
  color: $color_primary;
  border-color: $color_header_text;
}

.button-submit {
  @extend %button-cmn-1;
  color: $color_white;
  background: $color_accent;
  font-weight: bold;
  border-color: $color_accent;
  &[disabled] {
    background: $color_gray_1;
    border-color: $color_gray_1;
  }
}

%button-edit {
  @extend %button-cmn-1;
  background: $color_header_text;
  color: $color_primary;
  font-weight: bold;
}
.button-edit {
  @extend %button-edit;
  &--large {
    @extend %button-edit;
    font-size: 20px;
  }
}

.button-back {
  @extend %button-cmn-1;
  &--large {
    @extend %button-cmn-1;
    font-size: 20px;
  }
}

%button-comment {
  @extend %button-cmn-1;
  color: $color_sub;
}
.button-comment {
  @extend %button-comment;
  &--large {
    @extend %button-comment;
    font-size: 20px;
  }
}

.button-login-or-register {
  text-decoration: underline;
}

.button-close {
  // position: relative;
  &::after,
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background: $color_gray_2;
    position: absolute;
  }
  &::after {
    transform: rotate(45deg);
  }
  &::before {
    transform: rotate(-45deg);
  }
}

%button-record {
  @extend %button-cmn-1;
  background: $color_accent;
  color: $color_white;
  border: 1px solid $color_accent;
  &::before {
    margin-right: 5px;
  }
}
.button-record {
  @extend %button-record;
  &--large {
    @extend %button-record;
    font-size: 20px;
  }
}

%button-material {
  @extend %button-cmn-1;
  background: $color_sub_light;
  color: $color_white;
  border: 1px solid $color_sub_light;
  &::before {
    margin-right: 5px;
  }
}
.button-material {
  @extend %button-material;
  &--large {
    @extend %button-material;
    font-size: 20px;
  }
}

%button-follow {
  @extend %button-cmn-1;
  border-color: $color_accent;
  color: $color_accent;
  background: #fff;
}
.button-follow {
  @extend %button-follow;
  &--following {
    @extend %button-follow;
    color: #fff;
    background: $color_accent;
  }
}

.mock {
  @extend %button-cmn-1;
}
