.form {
  padding: 20px;
  font-size: 18px;
  &__title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__input {
    margin-bottom: 20px;
  }
  &__notice {
    margin-bottom: 20px;
  }
  &--login {
    width: $login_form_width + px;
  }
  &--record {
    width: $record_form_width + px;
  }
  &--comment {
    width: $comment_form_width + px;
  }
}

%input {
  width: 100%;
  background-color: $color_input_bg;
  padding: 10px;
  display: block;
  &::placeholder {
    font-size: 15px;
  }
}

.input {
  @extend %input;
  height: 40px;
}

.textarea {
  @extend %input;
  height: 140px;
}

.error-msg {
  font-size: 14px;
  color: $color_danger;
  max-width: $login_form_width + px;
}
