// base color
$color_primary: #2794aa;
$color_primary_light: lighten($color_primary, 30%);
$color_primary_dark: darken($color_primary, 20%);
$color_sub: #2f3c53;
$color_sub_light: lighten($color_sub, 30%);
$color_sub_dark: darken($color_sub, 20%);
$color_accent: #ff6249;
$color_accent_light: lighten($color_accent, 30%);
$color_accent_dark: darken($color_accent, 20%);
$color_light_shade: #e1e2ef;
$color_gray_0: #ececec;
$color_gray_1: #c3c3c3;
$color_gray_2: #9c9c9c;
$color_white: #fff;
$color_success: #7d9950;
$color_info: #e1e2ef;
$color_danger: #f44336;
$color_warning: #fa8918;
//
$color_text: #333;
$color_header_text: $color_white;
$color_app_bg: #f1f4fa;
$color_container_bg: #f9fbfe;
$color_liked: #ff5876;
$color_unliked: #666;
// form
$color_input_bg: $color_white;

// base
$base_font_size: 16;
$base_line_height: 1.5;

// variable
$container_width: 1000;
$login_form_width: 300;
$record_form_width: 400;
$comment_form_width: $record_form_width;

// layer
$layer_modal: 10;
