@import 'sass/reset';
@import 'sass/variable';
@import 'sass/base';
@import 'sass/mixin';
@import 'sass/spinner';
@import 'sass/icon';
@import 'sass/button';
@import 'sass/form';
@import 'sass/layout';
@import 'sass/block';
@import 'sass/util';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
